{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Create A Job{% endblock %}

{% block body_block %}
{% if creating %}
<h1>Create Job</h1>
{% else %}
<h1>Edit Job</h1>
{% endif%}
<br>

    <form id="post_job" method="post" action="/job_posting/post_job/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                <br>
                {{ field }}
            <br>
            {% endfor %}

            <input type="submit" name="submit" value="Save!" />
    </form>
<br>

{% endblock %}