{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Create A Job{% endblock %}

{% block body_block %}
<h1>Create/Edit job</h1>
<!-- TODO see if its a create or an edit im pretty sure i can check this! -->
<form action="post_a_job/" method="post">
{% csrf_token %}
    Description:
    <input type="text" name="description" id="description"  />
    <br />
    Short Description:
    <input type="text" name="short_description" id="short_description"  />
    <br />
    <!-- TODO date types in forms only in html5 i think , firefox doesnt support , so probably do some kind of javascript thing -->
    Bidding Deadline:
    <input type="date" name="bidding_deadline" id="bidding_description"  />
    <br />
    Compensation Amount:
    <input type="text" name="compensation_amount" id="compensation_amount"  />
    <br />
<input type="submit" value="Post!" />
</form>
{% endblock %}


