{% extends 'base.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Create A Job{% endblock %}

{% block body_block %}
{% if creating %}

<!--TODO: CAN format this nicer!-->
{% if form.errors %}
<div id="form-error">
    <p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
    <ul>
    {{ form.errors }}
    </ul>
</div>
{% endif %}

<h1>Create Job</h1>
{% else %}
<h1>Edit Job</h1>
{% endif%}
<br>
    {% if creating %}
    <form id="post_job" method="post" action="/job_posting/post_job/">
    {% else %}
     <form id="post_job" method="post" action="/job_posting/post_job/?pk={{pk}}">
    {% endif %}
            {% csrf_token %}
            
            <table>
            {{ form | crispy }}
            </table>
            <table id="id_orders_table" border="0" cellpadding="0" cellspacing="5">
                <thead>
                    <tr>
                        <th scope="col">Skill</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form1 in formset.forms %}
                    <tr id="{{ form1.prefix }}-row">
                        <td style="text-align:center;">
                            {% for fld in form1.hidden_fields %}{{ fld }}{% endfor %}
                            {% if form1.instance.pk %}{{ form1.DELETE }}{% endif %}
                            {{ form1.skill }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>
            {{ formset.management_form }}
            <input type="submit" class="btn btn-primary" name="submit" value="Save!" />
    </form>
<br>

{% endblock %}