
{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Edit Job{% endblock %}

{% block body_block %}
<h1>Edit job</h1>
<!-- TODO THIS IS VERY SIMILAR TO CREATE JOB THERES PROB SOME CLASS STUFF -->
<form action="edit_job_form/" method="post">
{% csrf_token %}
    Short Description:
    <input type="text" name="short_description" id="short_description"
    value= "{{myJob.short_description}}"  />
    <br />
    <!-- TODO date types in forms only in html5 i think , firefox doesnt support , so probably do some kind of javascript thing -->
    Bidding Deadline:
    <input type="date" name="bidding_deadline" id="bidding_description"  
    value="{{myJob.bidding_deadline}}" />
    <br />
    Compensation Amount:
    <input type="text" name="compensation_amount" id="compensation_amount" 
    value="{{myJob.compensation_amount}}" />
    <br />
    Description: <br/>
    <textarea rows="5" cols="100" name="description" id="description">
    {{myJob.description}}
    </textarea>
      <input type="hidden" name="pk" id="pk" value="{{myJob.pk}}" />
    <br />
<input type="submit" value="Save" />
</form>
{% endblock %}
