<!--Requirement 3.2.1.1.2-->
{% extends 'base.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Edit Profile{% endblock %}

{% block body_block %}

{% if form.errors %}
<div id="form-error">
    <p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
    <ul>
    {{ form.errors }}
    </ul>
</div>
{% endif %}
<h1>Profile</h1>
<br>

    <form id="edit_profile" method="post" action="/job_posting/edit_profile/">

            {% csrf_token %}
            {{form | crispy}}
            <input type="submit" class="btn btn-default" name="submit" value="Save!" />
    </form>
<br>

My Overall Rating: 
<br>
{% if myRating %}
    <input type="number" id="rateJob" class="rating" name="rating" min="0" max="5" readonly="true" value="{{myRating}}">
{% else %}
    None
{% endif %}
<br>

{% endblock %}