
{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Job Details{% endblock %}

{% block side_block %}
  <!-- TODO this is not working-->
  {% ifnotequal complete True %}
  <ul class="nav nav-sidebar">
   <li><a href="{% url 'job_posting:edit_job' %}?pk={{myJob.pk}}">Edit Job</a></li>
  </ul>
  {% endifnotequal %}
{% endblock %}

{% block body_block %}
<h1>Job detail</h1>
  <!--TODO: Make this look nicer -->
    Short Description:
    {{myJob.short_description}}
    <br />
    Bidding Deadline:
    {{myJob.bidding_deadline}}
    <br />
    Creation Date :
    {{myJob.creation_date}}
    <br />
    Bidding Confirmation Deadline :
    {{myJob.bidding_confirmation_deadline}}
    <br />
    Compensation Amount :
    {{myJob.compensation_amount}}
    <br />
    Completion Date  :
    {{myJob.completion_date}}
    <br />
    Completed  :
    {{myJob.completed}}
    <br />
    Current Contractor :
    {% if myJob.contractor %}
    <a href="http://127.0.0.1:8000/job_posting/view_profile/?contractor={{myJob.contractor.pk}}">{{myJob.contractor}}</a>
    {% else %}
      None  
    {% endif %}
    
    <br/>
    Marked Complete By Contractor :
    {{myJob.marked_completed_by_contractor}}
    <br/>
    Job Skills: 
    {% if skills %}
      {% for skill in skills %}
        {{skill.skill}} , 
      {% endfor%}
    {% else %}
      None  
    {% endif %}
    <br>
    Description: <br/>
    <textarea  class="form-control" rows="10" cols="100" readonly="true">{{myJob.description}}</textarea>
    <br />
<br>
<br>
{% if myJob.marked_completed_by_contractor and myJob.completed %}
    <form action="rate_contractor_form/?contractor={{myJob.contractor.pk}}" method="post">
    {% csrf_token %}
    Quality (between 1 and 5):
    <input type="number" id="rateJob" class="rating" name="rating" min="0" max="5" value="{{rating}}">
    <input type="submit"  class="btn btn-success" value="Rate!">
</form>
{% endif %}
<br>
<h1> Bids </h1>
  {% if bidList %}
    Bids:
    <head>
      <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 5px;
        }
      </style>
    </head>

<table id="bidsTable" style="width:100%">
  <thead>
  <tr>
    <th>Select</th>
    <th>Contractor</th>
    <th>Compensation Amount</th>    
    <th>Completion Date</th>
    <th>Message</th>
    <th>ContractorID</th>
  </tr>
  </thead>
  <tbody>
      {% for bid in bidList %}
      <tr>
        <td><input type="checkbox" name="item" value="{{bid.pk}}" ></td> 
        <td><a href="http://127.0.0.1:8000/job_posting/view_profile/?contractor={{bid.contractor.pk}}">{{bid.contractor}}</a></td>
        <td>{{bid.compensation_amount}}</td>
        <td>{{bid.completion_date}}</td>
        <td>{{bid.message}}</td>
        <td>{{bid.contractor.pk}}</td>
      {% endfor %}
    <br>
  </tbody>
</table>
    {% ifnotequal complete True %}
      {% ifequal active True %}
        <div id="form_footer">
                <button id="accept" class="btn btn-success">Accept</button>
        </div>
      {% endifequal %}
    {% endifnotequal %}
  {% else %}
    <p>No bids on job!</p> 
  {% endif %}

 <br>
{% endblock %}

